<footer>
    <div class="container-fluid">
        <div class="row justify-content-center p-2 bg-dark text-white">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <img src="/img/isologotipoConSlogan.png" alt="" class="img-fluid mb-3">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <p class="h5 mb-3">Acerca</p>
                <div class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none">Opiniones</a>
                </div>
                               
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <p class="h5 text-justified mb-3">Recursos</p>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Ayuda</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Noticias de Interés</a>
                </div>
                <div class="mb-2 text-justified">
                    <a href="#" class="text-secondary text-decoration-none">Nuestras Recetas</a>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <p class="h5 text-justified mb-3 font-size-10px">Contacto</p>
                <i class="fa-brands fa-square-whatsapp" style="font-size: 2rem"></i>+ 54 11 4334 5311</p>
                
                <!--<i class="fa-regular fa-clock"></i>-->
                <ul>
                    <li>Lun - Mié: 12:00h - 20:00h</li>
                    <li>Jue - Vie: 09:00h - 17:00h</li> 
                   
                </ul>
                <i class="fa-regular fa-envelope" style="font-size: 2rem"></i>
                peryycanape5@gmail.com
                <br>
                <br>
                <br>
                
                <section class="ft-social pt-5 text-center">
                    <a href=""><i class="fa-brands fa-facebook" style="font-size: 22px"></i></a> 
                    <a href=""><i class="fa-brands fa-twitter" style="font-size: 22px"></i></a>
                    <a href=""><i class="fa-brands fa-instagram" style="font-size: 22px"></i></a> 
                    <a href=""><i class="fa-brands fa-linkedin-in" style="font-size: 22px"></i></a>
                    <a href=""><i class="fa-brands fa-youtube" style="font-size: 22px"></i></a>
                  </section> 
            </div>
        </div>
    
          
        <div class="row p-2 bg-secondary text-white">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" class="text-white text-decoration-none">Terminos & Condiciones</a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <a href="#" class="text-white text-decoration-none">Política de Privacidad</a>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-4"></div>
            <div class=" col-sm-12 col-md-12 col-lg-2">
                <p class="text-white text-center">Copyright © 2022</p>
            </div>
        </div>
    </div>
</footer>

<!-------------------- Bootstrap parte JavaScript (nadie lo toque,va al final de todo el body) ---------------------->
<script src="/js/cart.js">
    onLoadCartNumbers();
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/657e1de652.js" crossorigin="anonymous"></script>
