body {
  background-color: #9298a1;
  font-family: 'Josefin Sans', sans-serif; 
  font-size:25px;

}

/******************** NAVBAR ********************/



.nav-item {
  font-weight: bold;
}

.navbar-nav li {
  padding-right: 2vh;
}


.nav-item .nav-link{
  text-transform: uppercase;
  border-radius: 1vh;
  letter-spacing: .3vh;

}

.nav-item .nav-link:hover{
  background-color: rgb(8, 132, 109);
  background-color: rgb(8, 132, 109);
  transition: background-color 0.8s;

}

.nav-item button i {
  padding-top: 3vh;
  font-size: 25px;
}


.userIMG{
  width: 4vw;
  border-radius: 100%;
}



.navbar{
  background-color: rgb(8, 132, 109);
  color: #08846d;
  
}




/******************** CART ********************/
.cart-image {
  width: 20px;
}

.cart-price {
  color: #39b54a;
}

/******************** FOOTER ********************/


.bg-secondary {
   
  }
  
  footer a:hover {
    background-color: rgb(8, 132, 109);
    color: white !important;
  }
  
  footer .btn:hover {
    color: white !important;
    background-color: #EF863D !important;
  }
  .ft-social a {
    margin-right: 2vw;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px rgb(8, 132, 109) solid; 
    padding-top: 0.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.75rem;
  }

